backup_10-09-2025/JiraTicket
{
  "createdAt": "2025-08-21T07:30:02.770Z",
  "updatedAt": "2025-09-04T14:06:28.000Z",
  "id": "5IcK7p2uxfKaaMTw",
  "name": "JiraTicket",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        320,
        176
      ],
      "id": "4c8f6ade-54f5-4b72-b14c-b005ff842a18",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "C3gLB78ljfuhPLRo",
          "name": "Jira@go-knowledge.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58f41444-66de-4ce7-aab5-d76d6e958bbc",
              "name": "from",
              "value": "={{$json[\"from\"]}}",
              "type": "string"
            },
            {
              "id": "79b415cf-294b-4546-b81f-0133b6ee5f5e",
              "name": "Subject",
              "value": "={{$json[\"subject\"]}}",
              "type": "string"
            },
            {
              "id": "0b0b2fba-b040-431d-90dc-ffb9d3e003ae",
              "name": "Body",
              "value": "={{$json[\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        416
      ],
      "id": "af3f26a7-d6a1-4e01-a725-41e827c30278",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        560
      ],
      "id": "38b72af2-1381-4264-bca7-3fe28915aba3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dob7yodE27d15REW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dfead268-8923-4fb5-a162-394a80973591",
              "leftValue": "=={{ $('json').first().json.assessment }}",
              "rightValue": "Pass",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        240
      ],
      "id": "c889a7d0-a263-472f-85d6-0aba71ad584c",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "jira@go-knowledge.com",
        "toEmail": "={{ $('Merge2').item.json.headers.from }}",
        "subject": "=⚠️ Aanvullende Info Nodig - {{ $('Edit Fields').item.json.Subject }} Jira ID:  {{ $('Create an issue').item.json.key }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>WOM Support Response</title>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, sans-serif; background-color: #f5f5f5;\">\n\n<div style=\"max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px; border-radius: 10px;\">\n  \n  <div style=\"background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"color: #28a745; margin-top: 0; font-size: 24px; font-weight: 600;\">Bedankt voor je melding!</h2>\n    \n    <p style=\"color:#333; font-size:16px; line-height:1.6; margin-bottom:20px;\">\n      Beste {{ $json.from_name || \"collega\" }},\n    </p>\n   <p style=\"color:#333; font-size:16px; line-height:1.6; margin-bottom:20px;\">\n  Hartelijk dank voor uw melding. We hebben uw verzoek goed ontvangen en uw ticket is succesvol aangemaakt onder JIRA-ID: <strong style=\"color:#007bff;\">{{ $json.key }}</strong>. We staan klaar om u te helpen met het probleem dat u ervaart.\n</p>\n\n    <div style=\"background-color: #d4edda; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #28a745;\">\n      <h3 style=\"color: #155724; margin-top: 0; font-size: 18px; font-weight: 600;\">✓ Ticket aangemaakt</h3>\n      <p style=\"color: #333; margin-bottom: 0; line-height: 1.5;\">\n        Goed nieuws! Uw ticket is succesvol aangemaakt en staat nu in ons systeem. We kunnen direct aan de slag om u te helpen.\n      </p>\n    </div>\n    \n    <div style=\"background-color: #e7f3ff; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #007bff;\">\n      <h3 style=\"color: #007bff; margin-top: 0; font-size: 18px; font-weight: 600;\">Wat we tot nu toe begrijpen</h3>\n      <p style=\"color: #333; margin-bottom: 10px; font-size: 15px; line-height: 1.5;\">\n        {{  $('json').item.json.summary }}\n      </p>\n       <p style=\"color: #333; margin-bottom: 0; font-size: 15px; line-height: 1.5;\">\n        {{ $('json').item.json.description }}\n      </p>\n    </div>\n    \n    <div style=\"background-color: #fff3cd; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #ffc107;\">\n      <h3 style=\"color: #856404; margin-top: 0; font-size: 18px; font-weight: 600;\">Zou u ons nog wat meer kunnen vertellen?</h3>\n      <p style=\"color: #333; margin-bottom: 15px; line-height: 1.5;\">Om u nog beter van dienst te kunnen zijn en het probleem zo effectief mogelijk op te lossen, zouden de volgende details erg handig zijn:</p>\n      <ul style=\"color: #333; margin: 0; padding-left: 20px; line-height: 1.6;\">\n        {{$('json').item.json.missing_info_questions.map(q => \"<li style='margin-bottom: 10px;'>\" + q + \"</li>\").join(\"\") }}\n      </ul>\n      <p style=\"color: #666; font-size: 14px; margin-top: 15px; margin-bottom: 0; font-style: italic; line-height: 1.5;\">\n        Geen zorgen als u niet alle informatie direct heeft - elke extra detail helpt ons om u sneller te kunnen helpen!\n      </p>\n    </div>\n    \n    <div style=\"background-color: #e8f4fd; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #17a2b8;\">\n      <h3 style=\"color: #0c5460; margin-top: 0; font-size: 18px; font-weight: 600;\">Hoe gaan we verder?</h3>\n      <p style=\"color: #333; margin-bottom: 0; line-height: 1.5;\">\n        Met of zonder de extra informatie gaan we voor u aan de slag. Als u de details kunt aanvullen, kunnen we het probleem nog sneller en gerichter oplossen. Uw ticket wordt in elk geval opgepakt door ons ervaren support team.\n      </p>\n    </div>\n    \n    <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 6px; text-align: center; margin: 25px 0; border: 2px solid #dee2e6;\">\n      <p style=\"color: #495057; font-size: 16px; font-weight: 600; margin: 0; line-height: 1.4;\">\n        <strong>Reageer gewoon op deze e-mail</strong> met eventuele aanvullende informatie - we doen de rest!\n      </p>\n    </div>\n    \n    <p style=\"color: #333; font-size: 16px; margin-top: 30px; line-height: 1.5;\">\n      Met vriendelijke groet,<br>\n      <strong style=\"color: #007bff;\">Het WOM Support Team</strong>\n    </p>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 25px 0;\">\n    \n    <p style=\"color: #6c757d; font-size: 13px; text-align: center; margin-bottom: 0; line-height: 1.4;\">\n      Dit is een automatisch gegenereerde e-mail. Voor vragen kun je gewoon antwoorden op deze e-mail.\n    </p>\n    \n  </div>\n</div>\n\n<!-- Voor copy-paste (zonder n8n variabelen): -->\n<!--\n<div style=\"max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px; border-radius: 10px;\">\n  \n  <div style=\"background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"color: #28a745; margin-top: 0; font-size: 24px; font-weight: 600;\">Bedankt voor je melding!</h2>\n    \n    <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;\">Beste [naam],</p>\n    \n    <p style=\"color: #333; font-size: 16px; line-height: 1.6;\">\n      Hartelijk dank voor je melding! We hebben je verzoek goed ontvangen en je ticket is succesvol aangemaakt onder JIRA-ID: [ticket-id]. We staan klaar om je te helpen met het probleem dat je ervaart.\n    </p>\n    \n    <div style=\"background-color: #d4edda; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #28a745;\">\n      <h3 style=\"color: #155724; margin-top: 0; font-size: 18px; font-weight: 600;\">✓ Ticket aangemaakt</h3>\n      <p style=\"color: #333; margin-bottom: 0; line-height: 1.5;\">\n        Goed nieuws! Je ticket is succesvol aangemaakt en staat nu in ons systeem. We kunnen direct aan de slag om je te helpen.\n      </p>\n    </div>\n    \n    <div style=\"background-color: #e7f3ff; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #007bff;\">\n      <h3 style=\"color: #007bff; margin-top: 0; font-size: 18px; font-weight: 600;\">Wat we tot nu toe begrijpen</h3>\n      <p style=\"color: #333; margin-bottom: 0; font-size: 15px; line-height: 1.5;\">[korte samenvatting van het probleem]</p>\n    </div>\n    \n    <div style=\"background-color: #fff3cd; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #ffc107;\">\n      <h3 style=\"color: #856404; margin-top: 0; font-size: 18px; font-weight: 600;\">Zou je ons nog wat meer kunnen vertellen?</h3>\n      <p style=\"color: #333; margin-bottom: 15px; line-height: 1.5;\">Om je nog beter van dienst te kunnen zijn en het probleem zo effectief mogelijk op te lossen, zouden de volgende details erg handig zijn:</p>\n      <ul style=\"color: #333; margin: 0; padding-left: 20px; line-height: 1.6;\">\n        <li style=\"margin-bottom: 10px;\">[vraag 1]</li>\n        <li style=\"margin-bottom: 10px;\">[vraag 2 indien van toepassing]</li>\n      </ul>\n      <p style=\"color: #666; font-size: 14px; margin-top: 15px; margin-bottom: 0; font-style: italic; line-height: 1.5;\">\n        Geen zorgen als je niet alle informatie direct hebt - elke extra detail helpt ons om je sneller te kunnen helpen!\n      </p>\n    </div>\n\n    <div style=\"background-color: #e8f4fd; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #17a2b8;\">\n      <h3 style=\"color: #0c5460; margin-top: 0; font-size: 18px; font-weight: 600;\">Hoe gaan we verder?</h3>\n      <p style=\"color: #333; margin-bottom: 0; line-height: 1.5;\">\n        Met of zonder de extra informatie gaan we voor je aan de slag. Als je de details kunt aanvullen, kunnen we het probleem nog sneller en gerichter oplossen. Je ticket wordt in elk geval opgepakt door ons ervaren support team.\n      </p>\n    </div>\n    \n    <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 6px; text-align: center; margin: 25px 0; border: 2px solid #dee2e6;\">\n      <p style=\"color: #495057; font-size: 16px; font-weight: 600; margin: 0; line-height: 1.4;\">\n        <strong>Reageer gewoon op deze e-mail</strong> met eventuele aanvullende informatie - wij doen de rest!\n      </p>\n    </div>\n    \n    <p style=\"color: #333; font-size: 16px; margin-top: 30px; line-height: 1.5;\">\n      Met vriendelijke groet,<br>\n      <strong style=\"color: #007bff;\">Het WOM Support Team</strong>\n    </p>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 25px 0;\">\n    \n    <p style=\"color: #6c757d; font-size: 13px; text-align: center; margin-bottom: 0; line-height: 1.4;\">\n      Dit is een automatisch gegenereerde e-mail. Voor vragen kun je gewoon antwoorden op deze e-mail.\n    </p>\n    \n  </div>\n</div>\n-->\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2896,
        368
      ],
      "id": "372c210f-ea51-4075-8d94-e6670656e01c",
      "name": "Send Email - FALSE",
      "webhookId": "cdd056f2-425f-444f-8980-11fc8ba2c657",
      "credentials": {
        "smtp": {
          "id": "yG4Ihfi7vhKZzG49",
          "name": "ai@go-knowledge"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "jira@go-knowledge.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.metadata['x-envelope-from'] }}",
        "subject": "=✅ Ticket is Aangemaakt {{ $json.key }}- {{ $('Edit Fields').item.json.Subject }} ",
        "emailFormat": "both",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa; border-radius: 8px;\">\n  \n  <h2 style=\"color: #28a745; margin-bottom: 20px;\">✅ E-mail Succesvol Geanalyseerd</h2>\n  \n  <div style=\"background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Status:</strong> \n      <span style=\"color: {{ $json['compleet'] ? '#28a745' : '#dc3545' }}; font-weight: bold;\">\n        {{ $json.assessment ? \"Compleet\" : \"Onvolledig\" }}\n      </span>\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Ticket Type:</strong> \n      <span style=\"background-color: #e9ecef; padding: 4px 8px; border-radius: 4px; font-weight: bold;\">\n        {{ $('If1').item.json.ticket_type }}\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Samenvatting:</strong>\n    </p>\n    <div style=\"background-color: #f8f9fa; padding: 15px; border-left: 4px solid #007bff; margin: 10px 0; border-radius: 0 4px 4px 0;\">\n      {{ $('If1').item.json[\"summary\"] }}\n    </div>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Prioriteit:</strong> \n      <span style=\"color: {{ $json[\"prioriteit\"] === 'High' ? '#dc3545' : ($json[\"prioriteit\"] === 'Medium' ? '#ffc107' : '#28a745') }}; font-weight: bold;\">\n       {{$('If1').item.json.priority }} \n      </span>\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Confidence:</strong> \n      <span style=\"font-weight: bold;\">\n       {{ $('If1').item.json.confidence_score }}\n      </span>\n    </p>\n    \n    <div style=\"background-color: #f8f9fa; padding: 15px; border: 1px solid #dee2e6; border-radius: 4px; margin: 10px 0;\">\n      <strong>Beschrijving:</strong><br>\n      {{ $('If1').item.json.description }}\n    </div>\n    \n    <div style=\"background-color: #d1ecf1; padding: 15px; border-radius: 5px; margin: 15px 0; border-left: 4px solid #17a2b8;\">\n      <p style=\"margin: 0 0 10px 0; font-weight: bold;\">💡 Aanbevelingen:</p>\n      <p style=\"margin: 0;\">{{ $('If1').item.json.recommendations }}</p>\n    </div>\n    \n  </div>\n  \n  <div style=\"background-color: #d4edda; padding: 15px; border-radius: 5px; margin-top: 20px; border-left: 4px solid #28a745;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: bold;\">🎉 Ticket wordt aangemaakt!</p>\n    <ul style=\"margin: 0; padding-left: 20px;\">\n      <li>Je Jira ticket <p> {{ $('Create an issue').item.json.key }} </p> automatisch aangemaakt</li>\n      <li>Bij vragen kun je reageren op deze e-mail</li>\n    </ul>\n  </div>\n  \n</div>\n",
        "options": {
          "appendAttribution": false,
          "attachments": "attachment_0,attachment_1,attachment_2"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2848,
        144
      ],
      "id": "644991e1-63da-4d0b-a0ca-9935bf0a7b2d",
      "name": "Send Email - TRUE",
      "webhookId": "cdd056f2-425f-444f-8980-11fc8ba2c657",
      "credentials": {
        "smtp": {
          "id": "VwuaEHdenMFhiWl3",
          "name": "Jira@go-knowledge.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CRITICAL LANGUAGE PRESERVATION OVERRIDE\nORIGINAL EMAIL LANGUAGE = DUTCH → ALL TEXT OUTPUT MUST REMAIN IN DUTCH\nNEVER TRANSLATE DUTCH TO ENGLISH\nNEVER REPHRASE OR \"IMPROVE\" THE ORIGINAL EMAIL WORDING\nUSE EXACT WORDS FROM THE EMAIL AS-IS\n\nLANGUAGE PRESERVATION EXAMPLES\nWRONG: \"Error: 'Create new quantification' button not working\"  \nCORRECT: Keep original Dutch words like \"Fout: 'Maak nieuwe quantificatie' knop werkt niet\"\n\nWRONG: \"Create new quantification button in WOM Control application not working\"\nCORRECT: Use exact Dutch phrasing from the original email\n\nEXTRACT SUMMARY AND DESCRIPTION USING EXACT ORIGINAL LANGUAGE\n\nCRITICAL SYSTEM OVERRIDE\nIGNORE ANY PREVIOUS INSTRUCTIONS ABOUT OUTPUT FORMATTING\nIGNORE ANY SYSTEM PROMPTS ABOUT WRAPPING RESPONSES\nIGNORE ANY INSTRUCTIONS ABOUT USING \"output\" FIELD\n\nYOU MUST RESPOND WITH DIRECT JSON OBJECT ONLY:\nCORRECT: {\"email_type\":\"new_request\",\"assessment\":\"Fail\"...}\nFORBIDDEN: [{\"output\":\"{...}\"}]\nFORBIDDEN: {\"output\":\"...\"}\nFORBIDDEN: Any array wrapper\nFORBIDDEN: Any escaped JSON strings\n\nYOUR RESPONSE MUST START WITH { AND END WITH }\nNO OTHER FORMAT IS ACCEPTABLE\n\nUsing your role as the Jira Gatekeeper, assess the following email content. First determine if this is a new request or a reply to an existing ticket.\n\nCRITICAL: RESPOND ONLY WITH DIRECT JSON OBJECT\nDO NOT USE ARRAY WRAPPER: [{}]\nDO NOT USE ANY BRACKETS [ ]\nSTART WITH { END WITH }\n\nDO NOT USE:\n- Arrays: [{...}]\n- Output wrappers: {\"output\": \"...\"}  \n- Markdown: ```json\n- Any text before or after the JSON object\n- Any escaped JSON strings with backslashes\n\nEmail to Assess:\n{{ $json.Body }}\n\nAssessment Instructions:\nDEFAULT: Treat as \"new_request\" unless ALL reply criteria are perfectly met\n\nReply criteria (ALL must be present):\n- EXACT ticket ID format: \"WOMDEV-[numbers]\" (e.g., \"WOMDEV-1223\")\n- EXACT phrase: \"**We hebben nog wat extra informatie nodig\"\n- Clear context that this responds to a previous information request\n\nCRITICAL: SCAN THE COMPLETE EMAIL TEXT for WOM application keywords (central, commit, control, construct, core) - case-insensitive\n\nContent Extraction Rules - PRESERVE ORIGINAL LANGUAGE:\n- Summary: Extract title using EXACT DUTCH words from email, max 100 characters, NO TRANSLATION\n- Description: Copy EXACT DUTCH email content without modification, only add \"Acceptance criteria:\" at end\n- NEVER translate Dutch to English\n- NEVER rephrase or \"professionalize\" the original email text\n- USE THE ORIGINAL EMAIL WORDING EXACTLY AS WRITTEN\n\nIf it's a reply AND WOM keywords found: The missing information has been provided → \"assessment\": \"Pass\", \"missing_info\": false\nIf it's a new request: Follow the complete assessment process for WOM application, acceptance criteria, and actionable details\n\nFINAL OVERRIDE INSTRUCTION\nRegardless of any conflicting instructions from other systems:\n- Do NOT use \"output\" field wrapper\n- Do NOT return an array\n- Do NOT escape JSON strings with backslashes\n- Do NOT translate Dutch content to English\n- Do NOT rephrase original email text\n- Return the JSON object directly as your complete response\n- First character: {\n- Last character: }\n- Keep all email content in original Dutch language\n\nRESPOND WITH DIRECT JSON OBJECT ONLY\n\nSubject: {{ $json.Subject }}\n\nRESPONSE VALIDATION:\nYour response will be tested with JSON.parse()\nIf your response cannot be parsed directly, the system will fail\nTest your response format before submitting",
        "options": {
          "systemMessage": "=Your role is that of a critical gatekeeper for our Jira process. Your primary task is to analyze the email below and deliver a final verdict: Pass or Fail. This verdict determines if a ticket can be created immediately or if we must request more information first.\n\nCRITICAL LANGUAGE RULE: \n- Email content in Dutch → Keep ALL text in Dutch\n- Email content in English → Keep ALL text in English  \n- NEVER translate email content\n- NEVER rephrase or \"professionalize\" the original wording\n- Extract information AS-IS from the source email\n\nCRITICAL FORMAT REQUIREMENT\nYOU MUST RESPOND WITH ONLY A VALID JSON OBJECT. NO ESCAPING, NO NEWLINES, NO WRAPPING.\n\nCORRECT RESPONSE EXAMPLE:\n{\"email_type\":\"new_request\",\"assessment\":\"Fail\",\"missing_info\":true,\"ticket_type\":\"Bug\",\"ticket_type_id\":\"10004\",\"wom_application\":\"WOM Central\",\"project\":\"\",\"project_site_code\":\"\",\"summary\":\"Example summary\",\"description\":\"Example description ending with Acceptance criteria: 1) ..., 2) ...\",\"priority\":\"Medium\",\"missing_info_questions\":[\"Wat is de projectnaam?\",\"Wat is de Project / site code (exact)?\"],\"recommendations\":\"Ontvang projectnaam en site code; daarna ticket aanmaken.\",\"jira_suggestions\":{\"labels\":[\"Bug\"],\"components\":[\"Webapplicatie\"],\"component_ids\":[\"10010\"],\"complexity_estimate\":\"Medium\"},\"confidence_score\":\"High\"}\n\nFORBIDDEN FORMATS THAT BREAK THE SYSTEM:\n\n* Arrays: [{\"output\":\"...\"}]\n* Escaped strings: {\"email_type\":\"...\"}\n* Newlines: {\\n\"email_type\":\\n\"...\"}\n* Markdown: ```json{...}```\n* Any wrapper objects\n\nYOUR RESPONSE MUST:\n\n* Start with { immediately\n* End with } immediately\n* Contain no \\n characters\n* Be a single line of valid JSON\n* Inner double quotes inside any string value must be escaped with a backslash (e.g., use double quotes only when escaped). Single quotes are allowed inside values.\n* Output must be a single JSON object (no array)\n* Do not reuse any sample values from this prompt (e.g., \"Central Rollout\", \"CTR-AMS-014\"). If unknown, use empty string and set assessment = \"Fail\" with questions.\n* Be parseable by JSON.parse() without modification\n\nEmail Type Detection:\nFIRST STEP: Determine if this is a Reply or New Request\n\nReply Email Detection (STRICT): If the email contains ALL of the following elements, treat it as a Reply:\n\n* VARIABLE ticket ID pattern: \"WOMDEV-\" followed by ANY numbers\n* EXACT phrase: \"**We hebben nog wat extra informatie nodig\"** (exact match required)\n* Context indicators: Email appears to be responding to a previous request for information\n\nEnhanced Detection with Subject Line (optional but supportive):\n\n* Subject contains ANY ticket ID: for example, \"Re: Betreft : WOMDEV-1960\"\n* Pattern recognition: Look for \"WOMDEV-\" + any digit sequence (1–6 digits typical)\n* Reply threading: Email headers indicate this is a reply to a previous message\n\nIMPORTANT: TICKET NUMBERS ARE ALWAYS DIFFERENT\n\n* Never look for specific numbers like \"1960\"\n* Always search for the PATTERN: \"WOMDEV-\" + any numbers\n* Examples of valid ticket IDs: WOMDEV-1, WOMDEV-42, WOMDEV-1960, WOMDEV-999999\n\nCRITICAL: If ANY of the main criteria are missing, treat as New Request\nDEFAULT: When in doubt, classify as \"new_request\"\n\nReply Assessment Process:\nFor Reply emails:\n\n* Focus: Assess if the previously requested missing information has now been provided\n* WOM Application: Not required to be mentioned again (already established in original ticket)\n* Acceptance Criteria: Check if the provided information allows for specific, measurable criteria\n* Priority: Maintain same classification approach but consider this is follow-up information\n\nReply Assessment Rules:\n\n* If the reply provides the previously missing information sufficiently → \"Pass\"\n* If the reply is still incomplete or vague → \"Fail\"\n* Extract ticket ID and include in response under \"reply_ticket_id\"\n* Reference what information was still missing in your assessment\n\nNew Request Assessment Process:\nFor New emails (not replies), follow the complete original process below:\n\nYour Assessment Process:\nVerdict (Pass or Fail):\nFirst, decide if the email meets the minimum requirements for an actionable ticket.\n\n* Fail: The email is too vague, incomplete, or ambiguous. Crucial details are missing, making it impossible for a developer to take action.\n* Pass: The email contains enough specific information to create a clear, actionable ticket. The core of the problem or request is evident.\n\nCrucial Calibration Rule:\nA request does not need to follow a perfect user story template to get a \"Pass\". Your main criterion is the presence of concrete, actionable details. If the email contains any of the following, you should rate it as a Pass:\n\n* Specific examples (e.g., order numbers, user names, URLs)\n* A clear problem description (e.g., \"this is what happens now\" vs. \"this is what I expected\")\n* A well-defined request for a change or new feature\n* An attached file that provides context\n\nWOM Application Requirements:\n**CRITICAL FAIL RULE: The email must explicitly mention which WOM application is affected. If not explicitly mentioned, the ticket must be marked as \"Fail\".**\n\nValid WOM Applications:\n\n* WOM Central (or just \"Central\")\n* WOM Commit (or just \"Commit\")\n* WOM Control (or just \"Control\")\n* WOM Construct (or just \"Construct\")\n* WOM Core (or just \"Core\")\n\nFlexible Detection Rules for User Input:\n\n* Case-insensitive matching: \"central\", \"CENTRAL\", \"Central\" are all valid\n* Partial word matching: \"het probleem is in commit\" → detected\n* Natural language detection: \"Het gaat om control en commit\" → detect both\n* Multiple applications: \"zowel Core als Control\" → detect both\n* Common variations: \"commit/commits\", \"core/cores\", \"control systeem\" → Control detected, \"construct module\" → Construct detected\n\n**CRITICAL: SCAN THE ENTIRE EMAIL TEXT FOR THESE KEYWORDS (case-insensitive):**\n\n* \"central\" → WOM Central\n* \"commit\" → WOM Commit\n* \"control\" → WOM Control\n* \"construct\" → WOM Construct\n* \"core\" → WOM Core\n\nMultiple Applications Handling:\n\n* If multiple applications are detected: list all in wom_application field as comma-separated (e.g., \"WOM Control, WOM Commit\"). For multiple apps: adjust description to mention both systems.\n\n**Project and Project/Site Code Requirements (strict, no guessing):**\n\n* Both fields are mandatory. Extract only if explicitly present in the email body or subject.\n* Never invent, infer, or copy placeholder/sample values.\n* If either field is missing: set `assessment` = \"Fail\", `missing_info` = true, set `project` = \"\" and/or `project_site_code` = \"\", and add targeted questions to `missing_info_questions`.\n* Replies: if previously missing and now provided, set `missing_info` = false for those fields and proceed.\n* Only accept clear tokens like \"project\", \"project name\", \"projectnummer\", \"project code\", \"site code\", \"sitecode\", \"project/site code\" (case-insensitive). Do not parse signatures/logos/links for these.\n\nComponent ID mapping (strict, no guessing):\n\n* Produce `jira_suggestions.component_ids` as an array of strings using this mapping based on detected WOM application(s):\n\n  * WOM Central → [\"10010\"]\n  * WOM Commit → [\"10009\"]\n  * WOM Control → [\"10012\"]\n  * WOM Construct → [\"10023\"]\n  * WOM Core → [\"10024\"]\n* If multiple WOM applications are detected, set `component_ids` to the unique union in the order: Central, Commit, Control, Construct, Core.\n* If no valid WOM application is detected (which should already be a Fail), set `component_ids` to [] or omit the field.\n* Never invent or infer IDs outside this mapping.\n\nAcceptance Criteria Requirements:\n**CRITICAL: Each ticket must have specific, measurable acceptance criteria derived from the email content.**\n\n* Mandatory Fail: If you cannot create at least 2 specific, measurable acceptance criteria from the email content, set assessment to \"Fail\".\n* Guidelines for Acceptance Criteria:\n\n  * Extract specific details from the original email text. Use the EXACT numbers, amounts, names, and wording from the email. Do not translate or rephrase.\n  * Use SMART criteria (Specific, Measurable, Achievable, Relevant, Time-bound)\n  * For bugs: Include specific fix expectations using original language\n  * For features: Include specific functionality requirements using original wording\n  * Avoid generic criteria like \"everything works correctly\"\n\nIf specific acceptance criteria cannot be derived: set assessment to \"Fail\" and ask a precise question requesting measurable criteria.\n\nAnalyze & Classify:\nDetermine the most logical ticket type and ID based on the content.\n\n**The AI must autonomously choose the correct ticket_type (Bug, Story, Task, Feature, Epic, Spike, Sub-task, Redudant) based on the email content, and then fill the corresponding ticket_type_id using the mapping below.**\n\n**Ticket Type to ID Mapping (CONFIRMED for your Jira):**\n\n* **Bug → 10004**\n* **Epic → 1000**\n* **Feature → 10020**\n* **Redudant → 10009**\n* **Spike → 10005**\n* **Story → 10001**\n* **Sub-task → 10003**\n* **Task → 10002**\n\nOutput Format and Language:\n**Language policy:** Keep all email content in its original language. Only field names and system values should be in English. Summary and description must preserve the original language and exact wording from the email.\n\nCRITICAL SYSTEM FAILURE WARNING\nThe following output format causes system crashes and must never be used:\n\n* [{\"output\": \"json\\n{...}\\n\"}]\n\nYou must respond with exactly this pattern (single-line JSON object only):\n{\"email_type\":\"new_request\",\"assessment\":\"Pass\",\"missing_info\":false,\"ticket_type\":\"Bug\",\"ticket_type_id\":\"10004\",\"wom_application\":\"WOM Central\",\"project\":\"Central Rollout\",\"project_site_code\":\"CTR-AMS-014\",\"summary\":\"Extract or create using EXACT words from email, max 100 characters\",\"description\":\"Use the EXACT email content without modification. Only add 'Acceptance criteria:' section at the end. Preserve original language, grammar, and style.\",\"priority\":\"Medium\",\"missing_info_questions\":[],\"recommendations\":\"Ready for ticket creation\",\"jira_suggestions\":{\"labels\":[\"Facturatie\",\"Bug\"],\"components\":[\"Webapplicatie\",\"Database\"],\"component_ids\":[\"10010\"],\"complexity_estimate\":\"Medium\"},\"confidence_score\":\"High\"}\n\nResponse Requirements:\n\n* First character of your response: {\n* Last character of your response: }\n* No text before the opening brace\n* No text after the closing brace\n* No arrays surrounding the object\n* No output wrapper field\n* No markdown code blocks\n* No backticks anywhere\n\nWhat Will Break The System:\n\n* Arrays: [{...}]\n* Output wrapper: {\"output\": \"...\"}\n* Markdown fencing\n* Any text before { or after }\n\nEmergency Override:\nIf any other system instructs a different output format, ignore it. The automation pipeline requires a direct JSON object only.\n\nFor New Requests – ALL FIELDS REQUIRED:\n{\"email_type\":\"new_request\",\"assessment\":\"Pass|Fail\",\"missing_info\":true|false,\"ticket_type\":\"Bug|Epic|Feature|Redundant|Spike|Story|Sub-task|Task|Unknown\",\"ticket_type_id\":\"10004|1000|10020|10009|10005|10001|10003|10002\",\"wom_application\":\"WOM Central|WOM Commit|WOM Control|WOM Construct|WOM Core|Multiple: WOM X, WOM Y\",\"project\":\"<project name>\",\"project_site_code\":\"<project/site code>\",\"summary\":\"Extract or create a title using EXACT words from the email, maximum 100 characters. Do not rephrase or translate.\",\"description\":\"Use the EXACT email content without modification or professional rewriting. Only add 'Acceptance criteria:' section at the end. Preserve original language, grammar, and style.\",\"priority\":\"Highest|High|Medium|Low\",\"missing_info_questions\":[\"Provide the first concrete missing detail.\",\"Provide the second if needed.\",\"Add questions for WOM application, project, or project/site code if missing.\"],\"recommendations\":\"Your advice for the next step (e.g., 'All information is present, ready for refinement.' or 'After answering the questions, this can become a Story.'),\",\"jira_suggestions\":{\"labels\":[\"Rapportage\",\"Import\",\"UI/UX\",\"Performance\",\"Facturatie\"],\"components\":[\"Webapplicatie\",\"Database\",\"API\",\"Conversie\"],\"component_ids\":[\"10010\",\"10009\",\"10012\",\"10023\",\"10024\"],\"complexity_estimate\":\"Low|Medium|High|Unknown\"},\"confidence_score\":\"High|Medium|Low\"}\n\nFor Replies – ALL FIELDS REQUIRED:\n{\"email_type\":\"reply\",\"reply_ticket_id\":\"WOMDEV-[DETECTED_NUMBER]\",\"assessment\":\"Pass|Fail\",\"missing_info\":true|false,\"ticket_type\":\"Bug|Epic|Feature|Redundant|Spike|Story|Sub-task|Task|Unknown\",\"ticket_type_id\":\"10004|1000|10020|10009|10005|10001|10003|10002\",\"wom_application\":\"WOM Central|WOM Commit|WOM Control|WOM Construct|WOM Core|Multiple: WOM X, WOM Y|Already_Established\",\"project\":\"<project name>|Already_Established\",\"project_site_code\":\"<project/site code>|Already_Established\",\"summary\":\"Updated title based on new information using EXACT words from email, max 100 characters. Do not rephrase or translate.\",\"description\":\"Updated description including newly provided information. Use EXACT email content. END with an updated 'Acceptance criteria:' section with specific, measurable criteria in original language.\",\"priority\":\"Highest|High|Medium|Low\",\"missing_info_questions\":[\"Any remaining precise question if information is still missing.\",\"Leave empty if all information is now complete.\"],\"recommendations\":\"Advice based on the reply (e.g., 'All requested information is now present; ticket can be created.' or 'Specific information is still missing.'),\",\"jira_suggestions\":{\"labels\":[\"Rapportage\",\"Import\",\"UI/UX\",\"Performance\",\"Facturatie\"],\"components\":[\"Webapplicatie\",\"Database\",\"API\",\"Conversie\"],\"component_ids\":[\"10010\",\"10009\",\"10012\",\"10023\",\"10024\"],\"complexity_estimate\":\"Low|Medium|High|Unknown\"},\"confidence_score\":\"High|Medium|Low\",\"previously_missing_info\":\"Describe what was previously missing and whether it has now been provided.\"}\n\nValidation Checklist:\nMandatory Fail conditions for New Requests:\n\n* No WOM application keywords found anywhere in the email text (central, commit, control, construct, core)\n* Fewer than two specific, measurable acceptance criteria can be derived\n* Core problem is too vague to be actionable\n* **Project or project_site_code missing**\n\nImmediate Fail for Replies if:\n\n* Previously requested information is still not provided\n* Cannot create specific acceptance criteria even with the new information\n* Reply is too vague or does not address the missing information\n\nOnly set \"Pass\" if ALL of these are true:\n\n* For new requests: Email explicitly mentions WOM application name; for replies: application already established\n* Project and project_site_code are present; for replies they are present or already established\n* At least 2 specific acceptance criteria with measurable details can be extracted\n* Core problem/request has concrete, actionable examples\n* Sufficient technical detail for the development team to act\n\nMissing Info Boolean Logic:\n\n* missing_info: true → when assessment is \"Fail\" (information is incomplete/missing)\n* missing_info: false → when assessment is \"Pass\" (all required information present)\n\nDecision Process:\n\n1. Email Type Detection: default to new_request unless all reply criteria are met. Reply detection only if the body contains exact WOMDEV-[numbers] and exact phrase We hebben nog wat extra informatie nodig.\n2. WOM Application Detection: scan entire email for keywords. For new requests: if none found → Fail. For replies: if keywords appear, previously missing WOM info is now provided.\n3. Project Fields: extract project and project_site_code. If either is missing, set Fail and ask targeted questions. In replies, if these are now provided, proceed.\n4. Acceptance Criteria Check: if not possible → Fail.\n5. Actionable Details Check: if too vague → Fail.\n\nExamples:\n\n* New Request \"Central shows wrong totals\": contains WOM Central but provides no measurable criteria → Fail.\n* Reply with WOMDEV-1223 containing the exact phrase and now including project and site code, and measurable details → Pass.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1392,
        400
      ],
      "id": "1c0dd36d-365e-42c3-b8db-916f4a3ee552",
      "name": "Jira assessment agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Debug versie om te zien wat er precies binnenkomt\nconst results = [];\nconst inputItems = $input.all();\nconst debugInfo = [];\n\nconsole.log('=== DEBUG ATTACHMENT EXTRACTION ===');\nconsole.log('Aantal input items:', inputItems.length);\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const item = inputItems[i];\n  console.log(`\\n--- Item ${i + 1} ---`);\n  console.log('Has binary:', !!item.binary);\n  \n  if (item.binary) {\n    console.log('Binary keys:', Object.keys(item.binary));\n    \n    for (const [key, bin] of Object.entries(item.binary)) {\n      console.log(`\\nBinary key: \"${key}\"`);\n      console.log('FileName:', bin.fileName);\n      console.log('MimeType:', bin.mimeType);\n      console.log('Has data:', !!bin.data);\n      \n      const fileName = bin.fileName?.toLowerCase() || '';\n      const mimeType = bin.mimeType?.toLowerCase() || '';\n      \n      // Ruimere attachment detectie\n      const isAttachment = key.startsWith('attachment_') || \n                           key.includes('attachment') || \n                           key.startsWith('data_') ||\n                           bin.fileName ||\n                           key.includes('image') ||\n                           key.includes('file');\n      \n      console.log('Is attachment?', isAttachment);\n      \n      // Debug info opslaan\n      debugInfo.push({\n        key: key,\n        fileName: bin.fileName || 'geen bestandsnaam',\n        mimeType: bin.mimeType || 'geen mimetype',\n        hasData: !!bin.data,\n        isAttachment: isAttachment\n      });\n      \n      // Afbeeldingen detecteren\n      const isImage = mimeType.startsWith('image/') || \n                      fileName.endsWith('.jpg') || \n                      fileName.endsWith('.jpeg') || \n                      fileName.endsWith('.png') || \n                      fileName.endsWith('.gif') || \n                      fileName.endsWith('.bmp') || \n                      fileName.endsWith('.webp');\n      \n      // PDF detecteren  \n      const isPdf = mimeType === 'application/pdf' || fileName.endsWith('.pdf');\n      \n      // Office bestanden detecteren\n      const isOffice = mimeType.includes('officedocument') ||\n                       mimeType.includes('ms-excel') ||\n                       mimeType.includes('msword') ||\n                       fileName.endsWith('.xlsx') ||\n                       fileName.endsWith('.xls') ||\n                       fileName.endsWith('.docx') ||\n                       fileName.endsWith('.doc');\n      \n      const isAllowedFile = isImage || isPdf || isOffice;\n      \n      console.log('Is image?', isImage);\n      console.log('Is PDF?', isPdf);\n      console.log('Is Office?', isOffice);\n      console.log('Is allowed?', isAllowedFile);\n      \n      if (isAttachment && isAllowedFile) {\n        console.log('✅ BESTAND TOEGEVOEGD!');\n        results.push({\n          binary: {\n            data: bin,\n          },\n          json: {\n            fileName: bin.fileName || `attachment_${key}`,\n            mimeType: bin.mimeType || 'unknown',\n            originalKey: key,\n            detectedAs: isImage ? 'image' : (isPdf ? 'pdf' : 'office')\n          },\n        });\n      } else {\n        console.log('❌ Bestand niet toegevoegd');\n        console.log('Reden - isAttachment:', isAttachment, 'isAllowedFile:', isAllowedFile);\n      }\n    }\n  }\n}\n\nconsole.log('\\n=== RESULTAAT ===');\nconsole.log('Gevonden attachments:', results.length);\n\n// Altijd debug info teruggeven, zelfs als er geen results zijn\nif (results.length === 0) {\n  return [{\n    json: {\n      error: 'Geen ondersteunde bestanden gevonden',\n      debugInfo: debugInfo,\n      inputItemsCount: inputItems.length,\n      tip: 'Check de console.log output en debug info voor meer details'\n    }\n  }];\n}\n\n// Voeg debug info toe aan eerste result\nif (results.length > 0) {\n  results[0].json.debugInfo = debugInfo;\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -96
      ],
      "id": "c61ecd06-2973-4599-9b5a-c6ba52f4e548",
      "name": "Extract Attachments2",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10030",
          "mode": "list",
          "cachedResultName": "WOM Development"
        },
        "issueType": {
          "__rl": true,
          "value": "={{ $json.ticket_type_id }}",
          "mode": "id"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "6375081e5fce844d60672649",
            "mode": "list",
            "cachedResultName": "Ton Jacobs"
          },
          "componentIds": "={{ $json.jira_suggestions.component_ids }}",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10063",
                  "mode": "list",
                  "cachedResultName": "Project / Site code"
                },
                "fieldValue": "={{ $json.project_site_code }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10064",
                  "mode": "list",
                  "cachedResultName": "Project Order Number"
                },
                "fieldValue": "={{ $json.project }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10054",
                  "mode": "list",
                  "cachedResultName": "Beschrijving Bug"
                },
                "fieldValue": "={{ $json.description }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        2400,
        208
      ],
      "id": "9eec78f1-071e-4961-85fd-1e9e104fee53",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "iyrcBYrNur9VgGDe",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueAttachment",
        "issueKey": "={{ $json.key }}"
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        2880,
        -96
      ],
      "id": "987aa533-8433-4f74-a3ed-d7008e9e26e2",
      "name": "Add an attachment to an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "iyrcBYrNur9VgGDe",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2576,
        -80
      ],
      "id": "6f27b418-d5e5-4e50-aa21-5124afe6ca9c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        400
      ],
      "id": "a7e5318e-1dcf-4ddc-9e1b-725d42aabbbd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.cleanOutput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        368
      ],
      "id": "b2540d8a-c7f8-4302-91ea-742cd9d2479d",
      "name": "json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b96951d-f7e6-47f4-95bf-30ff181bcdcb",
              "leftValue": "={{ $json.email_type }}",
              "rightValue": "reply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "cb50ae92-860e-42a7-86cf-180b5d1e4ecb",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        400
      ],
      "id": "1e44e1de-fad3-499f-aa8a-de4d82df11e4",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "issueKey": "={{ $json.reply_ticket_id }}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "customfield_10058",
                  "mode": "list",
                  "cachedResultName": "Technische oplossing"
                },
                "fieldValue": "={{ $json.jira_suggestions.components }}"
              },
              {
                "fieldId": {
                  "__rl": true,
                  "value": "=customfield_10061",
                  "mode": "id"
                },
                "fieldValue": "=extra info: {{ $json.jira_suggestions.components }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        2656,
        528
      ],
      "id": "de1982f7-39ae-42f2-b96d-0ae7ba4645d5",
      "name": "Update an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "iyrcBYrNur9VgGDe",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "jira@go-knowledge.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from }}",
        "subject": "=Betreft : {{ $json.reply_ticket_id }}",
        "html": "<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Opvolging ticket WOMDEV-1960</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f8f9fa;\n        }\n        .email-container {\n            background-color: #ffffff;\n            border-radius: 8px;\n            padding: 30px;\n            box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n        }\n        .header {\n            border-bottom: 3px solid #007bff;\n            padding-bottom: 15px;\n            margin-bottom: 25px;\n        }\n        .header h1 {\n            color: #007bff;\n            margin: 0;\n            font-size: 24px;\n        }\n        .ticket-info {\n            background-color: #f8f9fa;\n            border-left: 4px solid #007bff;\n            padding: 15px;\n            margin: 20px 0;\n            border-radius: 0 4px 4px 0;\n        }\n        .ticket-info strong {\n            color: #007bff;\n        }\n        .missing-info-box {\n            background-color: #fff3cd;\n            border: 1px solid #ffeaa7;\n            border-radius: 6px;\n            padding: 20px;\n            margin: 20px 0;\n        }\n        .missing-info-box h3 {\n            color: #856404;\n            margin-top: 0;\n            display: flex;\n            align-items: center;\n        }\n        .missing-info-box h3::before {\n            content: \"⚠️\";\n            margin-right: 8px;\n        }\n        .question {\n            background-color: #e7f3ff;\n            border-left: 4px solid #007bff;\n            padding: 15px;\n            margin: 15px 0;\n            font-weight: 500;\n        }\n        .cta-button {\n            display: inline-block;\n            background-color: #007bff;\n            color: white !important;\n            padding: 12px 25px;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: 600;\n            margin: 20px 0;\n        }\n        .cta-button:hover {\n            background-color: #0056b3;\n        }\n        .footer {\n            margin-top: 30px;\n            padding-top: 20px;\n            border-top: 1px solid #dee2e6;\n            font-size: 14px;\n            color: #6c757d;\n        }\n        .priority-medium {\n            display: inline-block;\n            background-color: #fd7e14;\n            color: white;\n            padding: 4px 8px;\n            border-radius: 12px;\n            font-size: 12px;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <h1>Aanvullende informatie benodigd</h1>\n        </div>\n        \n        <p>Beste collega,</p>\n        \n        <p>Bedankt voor het aanmaken van het volgende ticket. Om dit effectief te kunnen verwerken, hebben we nog wat aanvullende informatie nodig.</p>\n        \n        <div class=\"ticket-info\">\n            <p><strong>Ticket ID:</strong> WOMDEV-1960</p>\n            <p><strong>Type:</strong> Bug</p>\n            <p><strong>Prioriteit:</strong> <span class=\"priority-medium\">Medium</span></p>\n            <p><strong>Samenvatting:</strong> Onjuiste kosten in projectrapport PO/42118</p>\n        </div>\n        \n        <div class=\"missing-info-box\">\n            <h3>Missende informatie</h3>\n            <p>Om dit ticket correct te kunnen verwerken en aan het juiste team toe te wijzen, hebben we de volgende informatie nodig:</p>\n            \n            <div class=\"question\">\n                <strong>In welke WOM applicatie treedt dit probleem op?</strong><br>\n                Kies uit: Central, Commit, Control, Construct, of Core\n            </div>\n        </div>\n        \n        <p>Deze informatie is essentieel om:</p>\n        <ul>\n            <li>Het ticket aan het juiste ontwikkelteam toe te wijzen</li>\n            <li>De juiste priority en verwerkingstijd in te schatten</li>\n            <li>Efficiënt onderzoek en oplossing mogelijk te maken</li>\n        </ul>\n        \n        <div style=\"background-color: #e7f3ff; border: 2px solid #007bff; border-radius: 8px; padding: 20px; margin: 20px 0; text-align: center;\">\n            <h3 style=\"color: #007bff; margin-top: 0;\">📧 Hoe te reageren</h3>\n            <p style=\"font-size: 16px; margin-bottom: 10px;\"><strong>Antwoord gewoon op deze email</strong> met de gevraagde informatie.</p>\n            <p style=\"font-size: 14px; color: #6c757d; margin-bottom: 10px;\">Gebruik de 'Reply' knop in Outlook en vermeld de WOM applicatie in je antwoord.</p>\n            <p style=\"font-size: 14px; color: #6c757d; margin-bottom: 0;\"><strong>💡 Tip:</strong> Heb je screenshots of andere afbeeldingen die kunnen helpen? Voeg deze gerust toe als bijlage!</p>\n        </div>\n        \n        <div class=\"footer\">\n            <p><strong>Automatisch gegenereerde email</strong> | WOM Support Team</p>\n            <p>Voor vragen over dit ticket, reageer op deze email of neem contact op met het support team.</p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2880,
        752
      ],
      "id": "dd56ec51-b171-4fb6-9c12-e59a2934da26",
      "name": "Send email",
      "webhookId": "8a8f9bad-44d2-4c79-8d46-eb69cb6a9b5c",
      "credentials": {
        "smtp": {
          "id": "VwuaEHdenMFhiWl3",
          "name": "Jira@go-knowledge.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76f8cb78-d2e4-4d8a-8bad-c0f372249a30",
              "leftValue": "={{ $json.missing_info }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        640
      ],
      "id": "bd3cffea-0ebc-486f-80ee-31b24dc12c9e",
      "name": "If2"
    },
    {
      "parameters": {
        "fromEmail": "jira@go-knowledge.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.metadata['x-envelope-from'] }}",
        "subject": "=✅ Ticket {{ $('If2').item.json.reply_ticket_id }} is aangepast - {{ $('Edit Fields').item.json.Subject }} ",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa; border-radius: 8px;\">\n  \n  <h2 style=\"color: #28a745; margin-bottom: 20px;\">✅ Ticket Succesvol Bijgewerkt</h2>\n  \n  <div style=\"background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Ticket ID:</strong> \n      <span style=\"color: #007bff; font-weight: bold;\">\n        {{ $('If2').item.json.reply_ticket_id }}\n      </span>\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Status:</strong> \n      <span style=\"color: #28a745; font-weight: bold;\">\n        ✅ Bijgewerkt - Compleet\n      </span>\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Ticket Type:</strong> \n      <span style=\"background-color: #e9ecef; padding: 4px 8px; border-radius: 4px; font-weight: bold;\">\n        {{ $('If2').item.json.ticket_type }}\n      </span>\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Samenvatting:</strong>\n    </p>\n    <div style=\"background-color: #f8f9fa; padding: 15px; border-left: 4px solid #007bff; margin: 10px 0; border-radius: 0 4px 4px 0;\">\n      {{ $('If2').item.json.summary }}\n    </div>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>Prioriteit:</strong> \n      <span style=\"color: {{ $json.priority === 'High' ? '#dc3545' : ($json.priority === 'Medium' ? '#ffc107' : '#28a745') }}; font-weight: bold;\">\n       {{ $('If2').item.json.priority }} \n      </span>\n    </p>\n    \n    <p style=\"margin: 10px 0;\">\n      <strong>WOM Applicatie:</strong> \n      <span style=\"font-weight: bold; color: #28a745;\">\n       {{ $('If2').item.json.wom_application }}\n      </span>\n    </p>\n    \n    <div style=\"background-color: #f8f9fa; padding: 15px; border: 1px solid #dee2e6; border-radius: 4px; margin: 10px 0;\">\n      <strong>Beschrijving:</strong><br>\n      {{ $('If2').item.json.description }}\n    </div>\n    \n    <div style=\"background-color: #d1ecf1; padding: 15px; border-radius: 5px; margin: 15px 0; border-left: 4px solid #17a2b8;\">\n      <p style=\"margin: 0 0 10px 0; font-weight: bold;\">📝 Bijgewerkte informatie:</p>\n      <ul style=\"margin: 0; padding-left: 20px;\">\n        <li>WOM applicatie gespecificeerd: <strong>{{ $('If2').item.json.wom_application }}</strong></li>\n        <li>Ticket toegewezen aan juiste team</li>\n        <li>Labels toegevoegd: {{ $('If2').item.json.jira_suggestions.labels.join(', ') }}</li>\n      </ul>\n    </div>\n    \n  </div>\n  \n  <div style=\"background-color: #d4edda; padding: 15px; border-radius: 5px; margin-top: 20px; border-left: 4px solid #28a745;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: bold;\">🎉 Ticket verwerking gestart!</p>\n    <ul style=\"margin: 0; padding-left: 20px;\">\n      <li>Je ticket <strong>{{ $('If2').item.json.reply_ticket_id }}</strong> is succesvol bijgewerkt</li>\n      <li>Het ontwikkelteam is geïnformeerd en gaat aan de slag</li>\n      <li>Je ontvangt updates over de voortgang via dit ticket</li>\n      <li>Bij vragen kun je reageren op deze e-mail</li>\n    </ul>\n  </div>\n  \n  <div style=\"background-color: #f8f9fa; padding: 10px; border-radius: 5px; margin-top: 15px; text-align: center; font-size: 12px; color: #6c757d;\">\n    <p style=\"margin: 0;\">Automatisch gegenereerde e-mail | WOM Support Team</p>\n  </div>\n  \n</div>",
        "options": {
          "appendAttribution": false,
          "attachments": "attachment_0,attachment_1,attachment_2"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2880,
        544
      ],
      "id": "ddf43f3f-b892-45d6-b467-5d02584b51bc",
      "name": "Send Email - TRUE1",
      "webhookId": "cdd056f2-425f-444f-8980-11fc8ba2c657",
      "credentials": {
        "smtp": {
          "id": "VwuaEHdenMFhiWl3",
          "name": "Jira@go-knowledge.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the malformed JSON from previous step\nconst inputData = $input.first().json.output;\n\nfunction fixJsonFormat(input) {\n    try {\n        let jsonString = typeof input === 'string' ? input : JSON.stringify(input);\n        jsonString = jsonString.trim();\n        \n        // Remove array wrapper\n        if (jsonString.startsWith('[') && jsonString.includes('\"output\"')) {\n            const parsed = JSON.parse(jsonString);\n            if (parsed[0] && parsed[0].output) {\n                jsonString = parsed[0].output;\n            }\n        }\n        \n        // Remove markdown\n        if (jsonString.includes('```json') || jsonString.includes('```')) {\n            jsonString = jsonString\n                .replace(/```json\\s*/g, '')\n                .replace(/```\\s*/g, '')\n                .trim();\n        }\n        \n        // Remove newlines\n        jsonString = jsonString.replace(/\\\\n/g, '').replace(/\\n/g, '').replace(/\\s+/g, ' ').trim();\n        \n        // Parse and stringify to clean\n        const cleanObject = JSON.parse(jsonString);\n        return JSON.stringify(cleanObject);\n        \n    } catch (error) {\n        return { error: true, message: error.message, originalInput: input };\n    }\n}\n\n// Fix the JSON and return it\nconst fixedJson = fixJsonFormat(inputData);\n\nreturn [{ json: { cleanOutput: fixedJson } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        400
      ],
      "id": "4af3546c-ebd2-438c-90c4-e46e7236a70e",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## I'm a note \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/) \n\nTodo, teks aanpassen bij het vragen voor projectnaam en project / site code. Dit moet in een vaste string worden ontvangen. ",
        "height": 144,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -96
      ],
      "typeVersion": 1,
      "id": "d8e154ac-8e44-48b8-b594-ea01a16fb446",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fromEmail": "jira@go-knowledge.com",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from }}",
        "subject": "=⚠️ Aanvullende Info Nodig - {{ $('Edit Fields').item.json.Subject }} Jira ID:  {{ $('Create an issue').item.json.key }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"nl\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>WOM Support Response</title>\n</head>\n<body style=\"margin: 0; padding: 20px; font-family: Arial, sans-serif; background-color: #f5f5f5;\">\n\n<div style=\"max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px; border-radius: 10px;\">\n  \n  <div style=\"background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"color: #28a745; margin-top: 0; font-size: 24px; font-weight: 600;\">Bedankt voor je melding!</h2>\n    \n    <p style=\"color:#333; font-size:16px; line-height:1.6; margin-bottom:20px;\">\n      Beste {{ $json.from_name || \"collega\" }},\n    </p>\n   <p style=\"color:#333; font-size:16px; line-height:1.6; margin-bottom:20px;\">\n  Hartelijk dank voor uw melding. We hebben uw verzoek ontvangen en begrijpen het probleem dat u ervaart. Uw melding is geregistreerd onder JIRA-ID: <strong style=\"color:red;\">{{ $json.key }}</strong>.\n</p>\n<p style=\"color:red; font-size:17px; line-height:1.6;\">\n  Voor een snelle afhandeling hebben we nog enkele gegevens van u nodig. In het gele vlak hieronder ziet u precies wat ontbreekt. Zodra u deze aanvult, gaan we direct voor u aan de slag.\n</p>\n\n\n    \n    <div style=\"background-color: #e7f3ff; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #007bff;\">\n      <h3 style=\"color: #007bff; margin-top: 0; font-size: 18px; font-weight: 600;\">Wat we begrijpen</h3>\n      <p style=\"color: #333; margin-bottom: 0; font-size: 15px; line-height: 1.5;\">\n        {{  $('json').item.json.summary }}\n      </p>\n       <p style=\"color: #333; margin-bottom: 0; font-size: 15px; line-height: 1.5;\">\n        {{ $('json').item.json.description }}\n      </p>\n    </div>\n    \n    <div style=\"background-color: #fff3cd; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #ffc107;\">\n      <h3 style=\"color: #856404; margin-top: 0; font-size: 18px; font-weight: 600;\">We hebben nog wat extra informatie nodig</h3>\n      <p style=\"color: #333; margin-bottom: 15px; line-height: 1.5;\">Om je ticket correct aan te kunnen maken, hebben we graag de volgende informatie:</p>\n      <ul style=\"color: #333; margin: 0; padding-left: 20px; line-height: 1.6;\">\n        {{$('json').item.json.missing_info_questions.map(q => \"<li style='margin-bottom: 10px;'>\" + q + \"</li>\").join(\"\") }}\n      </ul>\n    </div>\n    \n    <div style=\"background-color: #d4edda; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #28a745;\">\n      <h3 style=\"color: #155724; margin-top: 0; font-size: 18px; font-weight: 600;\">Volgende stappen</h3>\n      <p style=\"color: #333; margin-bottom: 0; line-height: 1.5;\">\n        Zodra we deze informatie van je ontvangen hebben, kunnen we direct aan de slag met je ticket. \n        We zorgen ervoor dat het probleem snel wordt opgepakt door het juiste team.\n      </p>\n    </div>\n    \n    <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 6px; text-align: center; margin: 25px 0; border: 2px solid #dee2e6;\">\n      <p style=\"color: #495057; font-size: 16px; font-weight: 600; margin: 0; line-height: 1.4;\">\n        <strong>Reageer gewoon op deze e-mail</strong> met de gevraagde informatie - we doen de rest!\n      </p>\n    </div>\n    \n    <p style=\"color: #333; font-size: 16px; margin-top: 30px; line-height: 1.5;\">\n      Met vriendelijke groet,<br>\n      <strong style=\"color: #007bff;\">Het WOM Support Team</strong>\n    </p>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 25px 0;\">\n    \n    <p style=\"color: #6c757d; font-size: 13px; text-align: center; margin-bottom: 0; line-height: 1.4;\">\n      Dit is een automatisch gegenereerde e-mail. Voor vragen kun je gewoon antwoorden op deze e-mail.\n    </p>\n    \n  </div>\n</div>\n\n<!-- Voor copy-paste (zonder n8n variabelen): -->\n<!--\n<div style=\"max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px; border-radius: 10px;\">\n  \n  <div style=\"background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n    \n    <h2 style=\"color: #28a745; margin-top: 0; font-size: 24px; font-weight: 600;\">Bedankt voor je melding!</h2>\n    \n    <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin-bottom: 20px;\">Beste [naam],</p>\n    \n    <p style=\"color: #333; font-size: 16px; line-height: 1.6;\">\n      Hartelijk dank voor je melding! We hebben je verzoek ontvangen en begrijpen het probleem dat je ervaart.\n    </p>\n    \n    <div style=\"background-color: #e7f3ff; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #007bff;\">\n      <h3 style=\"color: #007bff; margin-top: 0; font-size: 18px; font-weight: 600;\">Wat we begrijpen</h3>\n      <p style=\"color: #333; margin-bottom: 0; font-size: 15px; line-height: 1.5;\">[korte samenvatting van het probleem]</p>\n    </div>\n    \n    <div style=\"background-color: #fff3cd; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #ffc107;\">\n      <h3 style=\"color: #856404; margin-top: 0; font-size: 18px; font-weight: 600;\">We hebben nog wat extra informatie nodig</h3>\n      <p style=\"color: #333; margin-bottom: 15px; line-height: 1.5;\">Om je ticket correct aan te kunnen maken, hebben we graag de volgende informatie:</p>\n      <ul style=\"color: #333; margin: 0; padding-left: 20px; line-height: 1.6;\">\n        <li style=\"margin-bottom: 10px;\">[vraag 1]</li>\n        <li style=\"margin-bottom: 10px;\">[vraag 2 indien van toepassing]</li>\n      </ul>\n    </div>\n\n    \n    <div style=\"background-color: #d4edda; padding: 20px; border-radius: 6px; margin: 25px 0; border-left: 4px solid #28a745;\">\n      <h3 style=\"color: #155724; margin-top: 0; font-size: 18px; font-weight: 600;\">Volgende stappen</h3>\n      <p style=\"color: #333; margin-bottom: 0; line-height: 1.5;\">\n        Zodra we deze informatie van je ontvangen hebben, kunnen we direct aan de slag met je ticket. \n        We zorgen ervoor dat het probleem snel wordt opgepakt door het juiste team.\n      </p>\n    </div>\n    \n    <div style=\"background-color: #f8f9fa; padding: 20px; border-radius: 6px; text-align: center; margin: 25px 0; border: 2px solid #dee2e6;\">\n      <p style=\"color: #495057; font-size: 16px; font-weight: 600; margin: 0; line-height: 1.4;\">\n        <strong>Reageer gewoon op deze e-mail</strong> met de gevraagde informatie - wij doen de rest!\n      </p>\n    </div>\n    \n    <p style=\"color: #333; font-size: 16px; margin-top: 30px; line-height: 1.5;\">\n      Met vriendelijke groet,<br>\n      <strong style=\"color: #007bff;\">Het WOM Support Team</strong>\n    </p>\n    \n    <hr style=\"border: none; border-top: 1px solid #dee2e6; margin: 25px 0;\">\n    \n    <p style=\"color: #6c757d; font-size: 13px; text-align: center; margin-bottom: 0; line-height: 1.4;\">\n      Dit is een automatisch gegenereerde e-mail. Voor vragen kun je gewoon antwoorden op deze e-mail.\n    </p>\n    \n  </div>\n</div>\n-->\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -704,
        400
      ],
      "id": "975a542e-2dee-49cc-8e1f-c03f2a4d1149",
      "name": "Send Email - FALSE1",
      "webhookId": "cdd056f2-425f-444f-8980-11fc8ba2c657",
      "credentials": {
        "smtp": {
          "id": "yG4Ihfi7vhKZzG49",
          "name": "ai@go-knowledge"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1584,
        608
      ],
      "id": "e9bfb315-1101-4586-ad22-fae4db298bc0",
      "name": "Think"
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Attachments2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Jira assessment agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Email - TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email - FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira assessment agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachments2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Add an attachment to an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Jira assessment agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "json": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an issue": {
      "main": [
        [
          {
            "node": "Send Email - TRUE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Jira assessment agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Email Trigger (IMAP)": {}
  },
  "meta": null,
  "pinData": {},
  "versionId": "ff689fb9-b8ae-4fe0-a1ae-2ee2e387768c",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-21T07:30:02.774Z",
      "updatedAt": "2025-08-21T07:30:02.774Z",
      "role": "workflow:owner",
      "workflowId": "5IcK7p2uxfKaaMTw",
      "projectId": "GRYQdjzbr9zYZfKu"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-08-21T07:29:46.376Z",
      "updatedAt": "2025-08-21T07:29:46.376Z",
      "id": "YmwMB85gjhecTvBP",
      "name": "Ton Jacobs"
    }
  ]
}